<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <h1 style="background-color: blue;">Students</h1>

      <% @students.each do |student| %>
        <div class="well">
                  <%= student.Name %>
                  <%= student.Age %>
                  <%= link_to 'Show', student, class:'btn btn-info' %>
                  <%= link_to 'Edit', edit_student_path(student), class:'btn btn-info' %>
                  <%= link_to 'Destroy', student, class:'btn btn-info',method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
  </div>
</div>


<%= link_to 'New Student', new_student_path %>
